*{
    background-color: #3D5160;
    margin:1rem;
    padding:1rem;


}

.image_lac_montagne{
    margin-top: 15px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#bodyHomePage {
    width: 100%;
    margin:auto;

}

.bodyHomePage h1{

/* Montserrat light 45 Slogan */

font-family: Montserrat;
font-style:italic;
text-align: center;
justify-content: center;
color: #E0EAFF;

}

.RCanada{

    position: absolute;
    width: 150px;
    height: 701px;
    top: 1419px;
  }

  .RAlps{
      display: flex;
      width: 150px;
      margin-left: 1000px;

  }


  .inclus_voyage{
    justify-content: center;
    font-family: Montserrat;
    font-size: 64px;
    text-align: center;
    color: #E0EAFF;
  }
  .container_bouteille{
    background-color: #4A6574;
    justify-content: left;
      display: flex;

  }

  .texte_bouteille{
    background-color: #4A6574;
    display: flex;
    justify-content: center;




    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;

    text-align: left;
    color: #E0EAFF;
    background-color: #4A6574;
  }

  .container_bouteille h5{
      color: aqua;
  }
.container_FAQ{
    display: flex;
    font-family: Titillium Web;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #E0EAFF;
    background-color: #4A6574;

}

.container_FAQ h3{
    font-family: Montserrat;
font-size: 25px;
font-style: normal;
font-weight: 300;
line-height: 22px;
letter-spacing: 0em;
text-align: left;

}

button,
      button::after {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      }
      button {
        background: #30C9D1;
      border: 4px solid #fff;
      border-radius: 10px;
      color:#fff;
      display: block;
      font-size: 130,15px;
      font-weight: bold;
      margin: 10px auto;
      padding: 2em 6em;
      position: relative;
      text-transform: uppercase;
      }
      button::after {
      background: #fff;
      content: '';
      position: absolute;
      z-index: -1;
      }
      button:hover {
      color: #29f2e4;
      }
      .button::after {
      height: 0;
      left: 0;
      top: 0;
      width: 100%;
      }
      .button:hover:after {
      height: 100%;
      }

