*{
    background-color: #3D5160;
    margin:1rem;
    padding:1rem;


}

.image_lac_montagne{
    margin-top: 15px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#bodyHomePage {
    width: 100%;
    margin:auto;

}



.RCanada{

    position: absolute;
    width: 150px;
    height: 701px;
    top: 1419px;
  }

  .RAlps{
      display: flex;
      width: 150px;
      margin-left: 1000px;

  }


  .inclus_voyage{
    justify-content: center;
    font-family: Montserrat;
    font-size: 64px;
    text-align: center;
    color: #E0EAFF;
  }

.container_FAQ{
    display: flex;
    font-family: Titillium Web;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #E0EAFF;
    background-color: #4A6574;

}

.container_FAQ h3{
    font-family: Montserrat;
font-size: 25px;
font-style: normal;
font-weight: 300;
line-height: 22px;
letter-spacing: 0em;
text-align: left;

}



